<dialog class="modal {{modalClass}}" id="{{modalId}}" aria-labelledby="{{modalTitleId}}" aria-describedby="{{modalDescId}}">
  <section class="section-content">
    <div class="section-content__inner flow">
      <div class="modal__header">
        <h2 id="{{modalTitleId}}">{{modalTitle}}</h2>
        <button type="button" class="modal__close nav-close" id="{{modalCloseId}}" aria-label="Close {{modalTitle}}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p id="{{modalDescId}}" class="lead">{{modalDesc}}</p>
      <div class="flow">
        {{contentHtml}}
      </div>
    </div>
  </section>
</dialog>
